<div class="form-wrapper">
  <h3>{{ formName }}</h3>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div *ngFor="let control of formFields" class="form-field">
      <label [for]="control.name" class="form-label">{{ control.label }}</label>

      <!-- Dynamic Input Field -->
      <ng-container [ngSwitch]="control.type">
        <!-- Input Field -->
        <input
          *ngSwitchCase="'text'"
          [id]="control.name"
          [type]="control.type"
          [formControlName]="control.name"
          [placeholder]="control.placeholder"
          class="form-input"
        />

        <!-- Number Field -->
        <input
          *ngSwitchCase="'number'"
          [id]="control.name"
          [type]="control.type"
          [formControlName]="control.name"
          [placeholder]="control.placeholder"
          class="form-input"
        />

        <!-- Select Dropdown -->
        <select
          *ngSwitchCase="'select'"
          [id]="control.name"
          [formControlName]="control.name"
          class="form-input"
        >
          <option *ngFor="let option of control.options" [value]="option.value">
            {{ option.label }}
          </option>
        </select>

        <!-- Textarea -->
        <textarea
          *ngSwitchCase="'textarea'"
          [id]="control.name"
          [formControlName]="control.name"
          [placeholder]="control.placeholder"
          rows="4"
          class="form-input"
        ></textarea>

        <!-- Checkbox -->
        <input
          *ngSwitchCase="'checkbox'"
          [id]="control.name"
          type="checkbox"
          [formControlName]="control.name"
          class="form-checkbox"
        />

        <!-- Radio Buttons -->
        <div *ngSwitchCase="'radio'" class="form-radio-group">
          <label
            *ngFor="let option of control.options"
            class="form-radio-label"
          >
            <input
              type="radio"
              [id]="option.value"
              [value]="option.value"
              [formControlName]="control.name"
              class="form-radio"
            />
            {{ option.label }}
          </label>
        </div>
      </ng-container>
    </div>

    <button type="submit" class="form-button">Submit</button>
  </form>
</div>
