.form-wrapper {
  width: 100%;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: linear-gradient(360deg, #291f6c, #4b2f8c, #6c4baa);
  color: #fff;
  border-radius: 10px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

.form-wrapper h3 {
  font-size: 30px;
  margin-bottom: 20px;
  text-align: center;
  color: #fff;
}

.form-wrapper form {
  display: flex;
  flex-direction: column;
}

.form-wrapper form div {
  margin-bottom: 20px;
}

.form-wrapper form label {
  font-size: 18px;
  margin-bottom: 10px;
  display: block;
}

.form-wrapper form input,
.form-wrapper form select,
.form-wrapper form textarea {
  width: 100%;
  padding: 15px;
  font-size: 16px;
  color: #fff;
  background: rgba(255, 255, 255, 0.1);
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
}

.form-wrapper form select {
  option {
    color: #777;
  }
}

.form-wrapper form input:focus,
.form-wrapper form select:focus,
.form-wrapper form textarea:focus {
  background: rgba(255, 255, 255, 0.2);
  transform: scale(1.02);
}

.form-wrapper form input::placeholder,
.form-wrapper form textarea::placeholder {
  color: #ccc;
}

.form-wrapper form button {
  padding: 15px;
  font-size: 18px;
  color: #fff;
  background: linear-gradient(90deg, #6c4baa, #4b2f8c, #291f6c);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background 0.3s ease-in-out, transform 0.3s ease-in-out;
}

.form-wrapper form button:hover {
  background: linear-gradient(90deg, #4b2f8c, #291f6c, #6c4baa);
  transform: translateY(-3px);
}

.form-wrapper form button:active {
  transform: translateY(1px);
}

@media screen and (max-width: 768px) {
  .form-wrapper {
    width: 90%;
  }
}
