.table-wrapper {
  margin: 25px;

  div {
    margin-top: 50px;
    width: 100%;
    border: 1px solid #eee;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 0px 0px #eee;
  }
}
.table_title {
  font-size: 18px;
  color: #5a4dcf;
  font-weight: bold;
}
