<main>




  <app-form-builder
  [formName]="'Course Registration'"
  [formFields]="[
    { name: 'courseName', label: 'Course Name', type: 'text', placeholder: 'Enter course name' },
    { name: 'courseDuration', label: 'Course Duration', type: 'text', placeholder: 'Enter course duration' },
    { name: 'courseType', label: 'Course Type', type: 'select', options: [{ value: 'online', label: 'Online' }, { value: 'offline', label: 'Offline' }] },
    { name: 'additionalInfo', label: 'Additional Information', type: 'textarea', placeholder: 'Enter any additional info' }
  ]"
></app-form-builder>



  <app-login></app-login>
  <app-signup></app-signup>
  <app-sidebar></app-sidebar>
</main>
