<div class="form-wrapper">
  <h3>Submit Assignment</h3>
  <form (submit)="onSubmit()">
    <div class="form-field">
      <!-- Select Dropdown -->
      <label for="assignment">Select Assignment</label>
      <select
        class="form-input"
        name="assignment"
        [(ngModel)]="selectedAssignment"
        required
      >
        <option value="" disabled selected>Select an assignment</option>
        <option
          *ngFor="let assignment of assignments"
          [value]="assignment.assignmentId"
        >
          {{ assignment.assignmentName }}
        </option>
      </select>

      <!-- File Upload Field -->
      <label for="file" class="my-3">Upload Assignment (PDF)</label>
      <input
        type="file"
        (change)="onFileSelected($event)"
        class="form-input"
        accept=".pdf"
        required
      />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="form-button">Submit</button>
  </form>
</div>
