<app-form-builder
  [formName]="'Grade Assessment'"
  [formFields]="[
    {
      name: 'studentName',
      label: 'Student Name',
      type: 'text',
      placeholder: 'Enter Student Name'
    },
    {
      name: 'id',
      label: 'Student ID',
      type: 'number',
      placeholder: 'Enter Student ID'
    },
    {
      name: 'department',
      label: 'Student Department',
      type: 'text',
      placeholder: 'Enter Student Department'
    },
    {
      name: 'grade',
      label: 'Student Grade',
      type: 'number',
      placeholder: 'Enter Student Grade'
    }
  ]"
></app-form-builder>
