.table-wrapper {
  margin: 25px;
  width: 100%;
  margin: auto;
  padding: 15px;
  background: linear-gradient(145deg, #6a5acd, #7b68ee);
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
/* Title Styling */
.table-title {
  text-align: center;
  font-size: 2em;
  color: #fff;
  margin-bottom: 30px;
  font-weight: bold;
}
th,
td,
tr {
  border: 1px solid #ddd;
}

form input {
  width: 100%;
  font-size: 16px;
  color: #fff;
  background: linear-gradient(90deg, #291f6c, #4b2f8c, #6c4baa);
  padding: 5px;
  border: none;
  border-radius: 5px;
  outline: none;
  transition: all 0.3s ease-in-out;
}
