<div class="course-materials-wrapper">
  <h3 class="table-title">Access to Course Materials</h3>

  <p-table
    [value]="courseMaterials"
    [tableStyle]="{ width: '100%', borderRadius: '40px' }"
  >
    <ng-template pTemplate="header">
      <tr>
        <th>Course Name</th>
        <th>Instructor Name</th>
        <th>Download</th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-product>
      <tr *ngFor="let material of courseMaterials">
        <td>{{ material.courseName }}</td>
        <td>{{ material.instructorName }}</td>
        <td>
          <button
            class="download-button"
            (click)="downloadFile(material.fileUrl)"
          >
            Download
          </button>
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>
