<div class="form-wrapper">
  <h3>Course Enrollment</h3>
  <form (ngSubmit)="enrollStudent()">
    <div class="form-field">
      <p-toast></p-toast>
      <!-- Select Dropdown -->
      <select
        class="form-input"
        [(ngModel)]="selectedCourseId"
        name="courseId"
        required
      >
        <option *ngFor="let course of courses" [value]="course.id">
          {{ course.title }}
        </option>
      </select>

      <!-- Student ID Field -->
      <input
        type="text"
        placeholder="Enter Student Id"
        class="form-input my-3"
        [(ngModel)]="studentId"
        name="studentId"
        required
      />
    </div>

    <!-- Submit Button -->
    <button type="submit" class="form-button">Submit</button>
  </form>
</div>
